body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-weight: 700;
}
section{
    margin: 30px 0 80px 0;
}
.first-section{
    display: flex;
}
.section-item{
    width: 50%;
    margin-top: 20px;
    padding-left: 50px;
}
h1{
    font-size: 60px;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.first-heading{
    padding: 20px;
    border-left: 5px solid;
    border-image:linear-gradient(tomato, orange);
    border-image-slice: 1;
}
.heading-mission{
    color: rgb(243, 169, 31);
}
.section-item img{
    width: 70%;
    margin-left:50px;
}
a{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(tomato, orange);
}
.scrole-text{
    margin-top: 70px;
    margin-bottom: 50px ;
}
.second-section-heading{
    font-size: 40px;
    text-align: center;
}
.mission-section-elements{
    display: flex;
    margin-left: 50px;
}
.elements{
    width: 25%;
    margin: 20px;
    padding: 20px 15px 20px 15px;
    border-radius: 15px;

}
.elements img{
    width: 30%;
}
#mission{
    background-color: #D6EAF8;
}
#vission{
    background-color: #F2D7D5 ;
}
#goals{
    background-color: #FCF3CF  ;
}
.develop-section{
    background-image: url(images/shapes/shape-1.png);
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position: left;
}
.community-section{
    background-image: url(images/shapes/shape-1.png);
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position:bottom right;
}
.corona-heading{
    text-align: center;
}
.registration-form{
    background-image: linear-gradient(lightblue, lightpink);
    border-radius: 10px;
}
.form{
    text-align: center;
}
.label{
    padding: 20px 20px 20px 10px;
}
.fullname{
    float: left;
}
.submit{
    margin: 40px;
    text-align: center;
}
footer{
    padding: 20px;
    background-color: #2D2D2C;
    color: white;
    text-align: center;
    margin: 0;
}